{% extends "layout-main/main.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p>Весрия сервера: {{ server }}</p>
    <p>Версия php: {{ phpVersion }}</p>
    <p>Весрия браузера: {{ userAgent }}</p>
{% endblock %}