{% extends "layout-main/main.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h3>Ошибка 404</h3>
    <p>Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она была удалена, или вы
        набрали неверный адрес. Перейдите на <a href="/">главную страницу</a>.</p>
{% endblock %}

